* {
    box-sizing: border-box;
    margin: 0px;
    background-image: url(imgs/fundo.png);
   background-attachment:fixed;
   background-size: 100% 100%;
}


a {

    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 40px;
    margin:15px;
}

main {
    color:rgb(32, 33, 34)
}


body {
    font-family: 'Tangerine', cursive;
}



ul {  
    padding:30px;
}


li {
    border:outset;
    border-style:double;
    border-width: 5px;
    border-color:rgb(2, 95, 91);
    border-radius: 10px;
    margin:5px;

    
}


/* Estiliza a parte superior do site */
.logo_navegacao {
    display:flex;
    justify-content: space-between;
    text-align: center;
    
}
.Logo {
    margin: 10px;
    border:double;
    border-radius: 8px;
    display: flex;
    border-color: rgb(2, 95, 91);
    border-width:5px;

}


.texto_topo {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 20px;
}


/*Estiliza o banner e o conteudo principal*/

.container_banner {
    display: flex;
    align-items: center;
    justify-content:left;
    justify-content: space-around;
    font-size: 50px;
    padding:50px;
    border: solid;
    border-color: rgb(2, 95, 91);
    
}

.container_banner img {
    border: solid;
    border-radius:10px;
    border-color:rgb(2, 95, 91) ;

}


/* Estiliza a parte de localização */

.container_localizacao {
    border: solid;
    border-color: rgb(2, 95, 91);
}

.container_localizacao h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    margin-top: 15px;
}
.local_link1  {
    display: flex;
    align-items: center;
    justify-content:left;
    justify-content: space-around;
    font-size: 39px;
    padding:50px;

}


.local_link2 {
    display: flex;
    align-items: center;
    justify-content:left;
    justify-content: space-around;
    font-size: 39px;
    padding:50px;

}
