* {
    box-sizing: border-box;
    margin: 0px;
    background-image: url(imgs/fundo.png);
   background-attachment:fixed;
   background-size: 100% 100%;
}


a {

    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 40px;
    margin:15px;
}

main {
    color:rgb(32, 33, 34)
}


body {
    font-family: 'Tangerine', cursive;
}



ul {  
    padding:30px;
}


li {
    border:outset;
    border-style:double;
    border-width: 5px;
    border-color:rgb(2, 95, 91);
    border-radius: 10px;
    margin:5px;

    
}


/* Estiliza a parte superior do site */
.logo_navegacao {
    display:flex;
    justify-content: space-between;
    text-align: center;
    
}